* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {

    --green: #16A249;
    --hoverColor: #C6D300;
    --dark: #020817;
    --light: #FFFFFF;
    --gray: #666666;
    --gray1: #94A3B8;
    --lightGray: #e0e3e6;
    --darkBg: rgb(30, 41, 59);
    --borderColor: rgba(22, 162, 73, 0.5);
    --iconBg: #16A2491A;

}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 12px;
    padding: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--light);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 6px;
    border: 2px solid var(--light);
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.container {
    max-width: 1360px;
    min-width: 375px;
    width: 95%;
    margin: 0 auto;
}


/* header */
.header {
    position: relative;
    z-index: 999;
    background: var(--light);

}

.header.fixed {
    position: sticky;
    top: 0;
    box-shadow: 0 2px 15px var(--green);
    animation: headerFixed .3s linear forwards;
}

@keyframes headerFixed {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.header .container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--light);
}

.logo img {
    max-width: 80px;
}

.nav_list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav_link {
    font-weight: 500;
    position: relative;
}



.nav_link:after {
    content: "";
    position: absolute;
    right: 0;
    height: 3px;
    background: var(--green);
    width: 0%;
    bottom: -5px;
    transition: .2s;
}

.nav_link:hover {
    color: var(--green);
}

.nav_link:hover::after {
    width: 100%;
    left: 0;
}

.burger_menu {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 8px;
    cursor: pointer;
    display: none;
}

.burger_line {
    width: 100%;
    height: 5px;
    background: var(--green);
}

.burger_line.active {
    position: absolute;
    transition: 1s;
}

.burger_line:nth-child(1).active {
    transform: rotate(45deg);
}

.burger_line:nth-child(2).active {
    transform: scale(0);
}

.burger_line:nth-child(3).active {
    transform: rotate(-45deg);
}


.headerBtn {
    padding: 10px 20px;
    background: var(--green);
    border: none;
    color: var(--light);
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    transition: .2s;
}

.headerBtn:hover {
    background: var(--hoverColor);
    color: var(--dark);

}

@media(max-width:850px) {
    .nav {
        position: absolute;
        left: 50%;
        top: 100px;
        background: var(--green);
        padding: 15px;
        width: 95%;
        transform: translateY(-200%) translateX(-50%);
        transition: 1s;
        z-index: -1;
    }

    .nav.show {
        transform: translateY(0) translateX(-50%);
    }

    .nav_list {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .burger_menu {
        display: flex;
        order: 1;
    }

    .nav_link {
        color: var(--light);
    }

}

/* Hero */

.hero {
    width: 100%;
    background: var(--iconBg);
    padding-block: 30px;
    min-width: 375px;
}

.hero .container {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero_title {
    color: var(--green);
    font-size: clamp(40px, 5vw, 60px);
    text-align: center;
    display: flex;
    flex-direction: column;
}


.hero_btn {
    padding: 15px 30px;
    color: var(--light);
    background: var(--green);
    border-radius: 15px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: .5s;
    overflow: hidden;
}

.hero_btn:hover {
    background: var(--hoverColor);
    transform: scale(1.1);
    color: var(--dark);
}

.hero_btn:hover svg {
    fill: var(--dark);
}

.hero_btn svg {
    animation: arrowDown 1s linear infinite;
    fill: var(--light);
}

@keyframes arrowDown {
    from {
        transform: translateY(-150%);
    }

    to {
        transform: translateY(150%);
    }
}


/* slider */
.gallery-section {
    margin-block: 50px;
}

.swiper {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    margin: 0 auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.swiper-button-next {
    color: var(--light);

}

.swiper-button-prev {
    color: var(--light);

}

.swiper-pagination span {
    background: var(--light);
}

/* Courses */
.courses {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: minmax(490px, auto);
    gap: 50px;
    perspective: 3000px;
}


.courses_top {
    grid-column: -1/1;
    text-align: center;
    padding-block: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.course_card {
    position: relative;
    perspective: 1000px;


}

.course_card.active .course {
    transform: rotateY(180deg);
}


.course {
    width: 100%;
    height: 100%;
    border: 2px solid var(--gray1);
    transition: .5s;
    border-radius: 30px;
    padding: 15px;

    position: relative;
    transform-style: preserve-3d;
}

.course:hover {
    border-color: var(--borderColor);
    box-shadow: 0 0 25px var(--borderColor);

}



.course_front {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: space-between;
}

.course_back {

    width: 100%;
    height: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    transform: rotateY(180deg);
    border-radius: 30px;
    left: 0;
    top: 0;
    padding: 15px 20px 25px;
}

.back_btn {
    position: absolute;
    right: 20px;
    top: 15px;
    background: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.course_back h4 {
    max-width: 90%;
}

.courses_title {
    color: var(--green);
    font-size: 40px;
}

.courses_description {
    max-width: 60%;
    color: var(--gray);
    margin-top: 20px;
}

.course_icon {
    width: 80px;
    height: 80px;
    background: var(--iconBg);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-self: start;
    color: var(--green);
    font-size: 35px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.course_icon img {
    max-width: 50px;
}

.course_btn {
    background: var(--green);
    border-radius: 10px;
    color: var(--light);
    border: none;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
}

.course_list {
    padding-left: 15px;
}

.course_list li::marker {
    content: "✅";
}

.course_list li {
    margin-block: 10px;
}

.course_duration {
    font-weight: bold;
    font-size: 20px;
}

@media(max-width:1200px) {
    .courses {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    }
}

/* about */
.about {
    background-color: var(--darkBg);
    padding: 20px 0;
    color: var(--light);
    margin-top: 50px;
    min-width: 375px;
}

.about_title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 30px;
}

.courses-info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.about-card {
    background: var(--iconBg);
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    transition: transform 0.3s ease;
}

.about-card:hover {
    transform: translateY(-10px);
    background: rgba(22, 162, 73, 0.2);
}

.about_name {
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--lightGray);
}

.count {
    display: block;
    font-size: 42px;
    font-weight: bold;
    color: var(--green);
    margin-top: 10px;
}

@media(max-width:1000px) {

    .courses-info {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

/* staff */

.staff {
    margin-top: 60px;
}

.staff_title {
    text-align: center;
    margin-bottom: 30px;
    color: var(--green);
    font-size: 35px;
}

.staff_body {
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-auto-rows: minmax(300px, auto);
    gap: 30px;
    justify-content: center;
}

.staf_item {
    border: 1px solid var(--borderColor);
    background: var(--iconBg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
    transition: .3s;

}

.staf_item:hover {
    box-shadow: 0 0 25px var(--green);
}

.staff_image {
    width: 150px;
}

@media(max-width:560px) {
    .staff_body {
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 40px;
        gap: 10px;
    }

}


/* footer */

.footer {
    width: 100%;
    min-height: 300px;
    background: var(--darkBg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    min-width: 375px;
    align-items: center;
}

.footer_container {
    border-bottom: 2px solid var(--light);
}

.footer_main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-block: 15px;
}

.footer_item {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 15px;
    min-width: 200px;
}

.footer_logo {
    height: 60px;
}

.footer_description {
    color: var(--light);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer_list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 200px;
}

.footer_link {
    color: var(--light);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.footer_copyright {
    color: var(--light);
    margin-block: 30px;
}

.footer_list li {
    color: var(--light);
}

.footer_list li i{
    color: var(--green);
    margin-right: 5px;
}

@media(max-width:830px){
    .footer_main{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }
    .footer_item{
        width: 40%;
    }
    .footer_list{
        width: 40%;
    }
    .footer_list{
        gap: 20px;

    }
}

@media(max-width:530px){
    .footer_item{
        width: 100%;
    }
    .footer_list{
        width: 100%;
    }
    .footer_main{
        padding-inline: 20px;
    }
}